<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490388366376-dlhj1a27n60koi9p432h05jqt87tmlru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490388366376-dlhj1a27n60koi9p432h05jqt87tmlru</string>
	<key>API_KEY</key>
	<string>AIzaSyDrd_ckrFCYEzPbmS-865h90IC1dYvvskI</string>
	<key>GCM_SENDER_ID</key>
	<string>490388366376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.attendanceApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>attendanceapphong</string>
	<key>STORAGE_BUCKET</key>
	<string>attendanceapphong.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490388366376:ios:c8b69d938ef27a188ec11d</string>
</dict>
</plist>